.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 90%;
  padding: 20px 0; 
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 12px 10px 26px #000000;

}


@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;    
    width: 80%;

  }
}

.item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5px;
}
