.containermapa {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 90% ;    
    padding: 20px 0;    
    border-radius: 10px;
    margin: 0 auto;    
    position: relative;
    overflow: hidden;
   
  }
  @media only screen and (max-width:768px){
    .containermapa{
      grid-template-columns: 1fr;
      width: 100%;
      padding: 10%;
    }
    .svgmap{
     
      width: 500px;
    }
  }
  @media only screen and (max-width:576px){
    .containermapa{
      gap: 10px;
    }
    .svgmap{
      
      width: 300px;
    }
  }
  .container{
    align-items: center;
  }
 .conttile{
  margin-top: 30px;
  padding: 10px;
 }
 .divmapa, .mapa, .description{
  border: 1px solid #d8cbcb;
 }

 
 .titleh2{
  text-align: center;
 }
.mapa{
  background-color: rgba(255, 228, 196, 0.286);
}
.svgmap{
  max-width: 100%;
  width: 800px;
}