.containermapa {
    display: grid;
    grid-template-columns: .5fr 1.5fr 1.5fr;
    gap: 20px;
    width: 90% ;    
    padding: 20px 0;    
    border-radius: 10px;
    margin: 0 auto;    
    position: relative;
    overflow: hidden;
   
  }
  @media only screen and (max-width:768px){
    .containermapa{
      grid-template-columns: 1fr;
      width: 100%;
      padding: 10%;
    }
    .svgmap svg{
     
      width: 500px;
      height: auto;
    }
  }
  @media only screen and (max-width:576px){
    .containermapa{
      gap: 10px;
    }
    .svgmap svg{
      
      width: 300px;
      height: auto;
    }
  }
  .container{
    align-items: center;
  }
 .conttile{
  margin-top: 30px;
  padding: 10px;
 }
 .divmapa, .mapa, .description{
  border: 1px solid #d8cbcb;
 }

 
 .titleh2{
  text-align: center;
 }
 .svgmap svg{
  max-width: 100%;
  width: 800px;
  height: auto;
 }

.svgmap path {
  fill: rgba(0, 255, 255, 0.411);
  stroke: #ffffff; 
}
.svgmap path:hover {
  fill: rgb(0, 255, 255);
}
.containerinfoScroll{
  overflow-y:auto;
  max-height: 500px;
  
}