.containermapa {
  display: grid;
  grid-template-columns: .5fr 1.5fr 1.5fr;
  gap: 20px;
  width: 90%;
  padding: 20px 0;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

}

@media only screen and (max-width:768px) {
  .containermapa {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 10%;
  }

  .svgmap svg {

    width: 500px;
    height: auto;
  }
}

@media only screen and (max-width:576px) {
  .containermapa {
    gap: 10px;
  }

  .svgmap svg {

    width: 300px;
    height: auto;
  }
}

.container {
  align-items: center;
  padding: 40px;


}

.conttile {
  margin-top: 30px;
  padding: 10px;
}


.titleh2 {
  text-align: center;
}

.svgmap svg {
  max-width: 100%;
  width: 800px;
  height: auto;
  box-shadow: 8px 16px 20px #000000;
  border-radius: 10px;
  
}

.svgmap path {
  fill: rgba(34, 73, 73, 0.425);

  stroke-width: 2px;
  stroke: #ffffff;
  /* stroke-linecap: round;
  stroke-linejoin: round; */
  stroke-dasharray: 1 1;
  stroke-dashoffset: 3;
  filter: drop-shadow(8px 0px 8px rgb(8, 12, 75)); 
}

.svgmap path:hover {
  fill: rgb(7, 40, 77);
  filter: drop-shadow(8px 0px 8px rgb(245, 245, 252)); 
}

.containerinfoScroll {
  overflow-y: auto;
  max-height: 550px;
  scrollbar-width: thin;
  scrollbar-color: #333279 rgba(31, 90, 90, 0.411);



}

.tablapublicas,
.tablaprivadas {
  width: 100%;
  border-collapse: collapse;
  
}

.containerinfoScroll th,
.containerinfoScroll td {
  padding: 10px;

  text-align: left;
  font-size: 14px;
  border: 1px solid #3b3b3b31;
  
}

h4,h3, .geo{
  font-size: 16px;
  text-align: center;
  padding: 8px;
  
  
}
